<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Навігація</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/devices">Список пристроїв</a></li>
      <li><a href="/devices/register">Реєстрація пристроїв</a></li>
      <li><a href="/user/register">Реєстрація користувача</a></li>
      <li><a href="/history">Історія користування</a></li>
      <% if (typeof id !== 'undefined' && typeof name !== 'undefined') { %>
        <li><a href="/user">Користувач: <%= name %></a></li>
        <li><a href="/logout">Вихід</a></li>
      <% } else { %>
        <li><a href="/login">Вхід</a></li>
      <% } %>

    </ul>
  </nav>
</body>
</html>
